/* Animation au survol */
.social-media a:hover img {
    transform: translateY(-5px); /* Remonte légèrement */
    filter: grayscale(0%) brightness(1.2) sepia(100%) hue-rotate(200deg) saturate(150%);
}
/* Mise à jour des couleurs */
body {
    background-color: #ffffff; /* Extérieur blanc */
}

main {
    background-color: #f7f0e6; /* Beige au lieu du bleu clair */
}

section {
    background-color: #f7f0e6; /* Beige pour les sections */
}

/* Fil d'Ariane */
.breadcrumb {
    background-color: #f7f0e6; /* Beige */
}
/* Section des réseaux sociaux */
.social-media a {
    display: inline-block;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

/* Styles généraux pour les logos */
.social-media img {
    width: 36px; /* Taille légèrement réduite */
    height: 36px;
    filter: brightness(0) invert(1); /* Logos blancs par défaut */
    transition: all 0.3s ease-in-out;
}

/* Logo Facebook spécifique */
.social-media a.facebook img {
    width: 34px; /* Ajuste la taille du logo Facebook */
    height: 34px;
}

/* Logos deviennent bleu foncé au survol */
.social-media a:hover img {
    filter: brightness(0) invert(0.2) sepia(1) hue-rotate(200deg) saturate(300%);
}

/* Section Hero Contact */
.hero-contact {
    position: relative;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-contact .hero-image {
    position: relative;
    background-image: url('image_cp.jpg'); /* Chemin de l'image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px; /* Hauteur de l'encadré */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-contact .hero-image h2 {
    position: relative;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 
                 0 0 10px rgba(0, 0, 0, 0.6); /* Ombre pour le texte */
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent pour le texte */
    padding: 10px 20px; /* Espacement autour du texte */
    border-radius: 8px; /* Coins arrondis */
}