/* Styles globaux pour la page d'accueil */
body {
    font-family: 'Georgia', serif; /* Police élégante et simple */
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Fond très clair pour une ambiance douce */
    color: #444; /* Texte en gris doux pour une lecture agréable */
    line-height: 1.6;
}

header {
    position: relative;
    height: 100vh; /* Hauteur pleine de l'écran */
    width: 100%;
}

.header-background {
    background-image: url('photo cp parfums.jpg'); /* Chemin vers l'image téléchargée */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3.5em;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* Ombre douce pour la lisibilité */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.6); /* Changement de couleur au survol */
}
