/* Styles globaux pour la page d'accueil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: transparent; /* Retirer le fond bleu foncé */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: none; /* Retirer l'ombre du header */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    background-color: #013a63;
    border-radius: 8px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #005f99;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #dce3e8;
    border-radius: 5px;
    background-color: #f9fcff;
}

h2 {
    text-align: center;
    color: #001f3f;
    margin-bottom: 15px;
}

p {
    margin: 10px 0;
    text-align: justify;
}

figure {
    text-align: center;
    margin: 20px 0;
}

video {
    max-width: 100%;
    border: 3px solid #001f3f;
    border-radius: 5px;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #001f3f;
    color: #ffffff;
    margin-top: 20px;
    font-size: 0.9em;
}

/* Styles pour la section breadcrumb */
.breadcrumb {
    background-color: #a8c7d5; /* Couleur de fond */
    padding: 10px 20px;
}

.breadcrumb nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

.breadcrumb nav ul li {
    position: relative;
    margin-right: 15px;
    color: #ffffff;
}

.breadcrumb nav ul li::after {
    content: "→"; /* Flèche entre les éléments */
    margin-left: 15px;
    color: white;
}

.breadcrumb nav ul li:last-child::after {
    content: ""; /* Supprime la flèche après le dernier élément */
}

.breadcrumb nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    transition: color 0.3s;
}

.breadcrumb nav ul li a:hover {
    color: #f5f5f5; /* Couleur au survol */
}

.breadcrumb nav ul li.current {
    font-weight: bold;
    color: white; /* Couleur pour l'élément actif */
}
